read_csv("filepath")

In [ ]:
import numpy as np
import pandas as pd
# read_csv("file path")
# store it in variable to perform operations on it 

data = pd.read_csv(r"C:\Users\RISHABH\Downloads\matches - matches.csv")
print(type(data) , "\n")
print("match data :\n", data)

head()

In [20]:
# lec -3 
'''
    head() :-
    --> if the data set is very large then printing that data like above can crash the system 
    --> head() gives initail 4-5 rows of the entire data set
'''
print(data.head())

   id  season       city      date                        team1  \
0   1    2017  Hyderabad  4/5/2017          Sunrisers Hyderabad
1   2    2017       Pune  4/6/2017               Mumbai Indians
2   3    2017     Rajkot  4/7/2017                Gujarat Lions
3   4    2017     Indore  4/8/2017       Rising Pune Supergiant
4   5    2017  Bangalore  4/8/2017  Royal Challengers Bangalore

                         team2                  toss_winner toss_decision  \
0  Royal Challengers Bangalore  Royal Challengers Bangalore         field
1       Rising Pune Supergiant       Rising Pune Supergiant         field
2        Kolkata Knight Riders        Kolkata Knight Riders         field
3              Kings XI Punjab              Kings XI Punjab         field
4             Delhi Daredevils  Royal Challengers Bangalore           bat

   result  dl_applied                       winner  win_by_runs  \
0  normal           0          Sunrisers Hyderabad           35
1  normal           0       Rising Pune Supergiant            0
2  normal           0        Kolkata Knight Riders            0
3  normal           0              Kings XI Punjab            0
4  normal           0  Royal Challengers Bangalore           15

   win_by_wickets player_of_match                                      venue  \
0               0    Yuvraj Singh  Rajiv Gandhi International Stadium, Uppal
1               7       SPD Smith    Maharashtra Cricket Association Stadium
2              10         CA Lynn     Saurashtra Cricket Association Stadium
3               6      GJ Maxwell                     Holkar Cricket Stadium
4               0       KM Jadhav                      M Chinnaswamy Stadium

          umpire1        umpire2  umpire3
0     AY Dandekar       NJ Llong      NaN
1  A Nand Kishore         S Ravi      NaN
2     Nitin Menon      CK Nandan      NaN
3    AK Chaudhary  C Shamshuddin      NaN
4             NaN            NaN      NaN

In [21]:
# we can print any number of rows using head()
print(data.head(1))

   id  season       city      date                team1  \
0   1    2017  Hyderabad  4/5/2017  Sunrisers Hyderabad

                         team2                  toss_winner toss_decision  \
0  Royal Challengers Bangalore  Royal Challengers Bangalore         field

   result  dl_applied               winner  win_by_runs  win_by_wickets  \
0  normal           0  Sunrisers Hyderabad           35               0

  player_of_match                                      venue      umpire1  \
0    Yuvraj Singh  Rajiv Gandhi International Stadium, Uppal  AY Dandekar

    umpire2  umpire3
0  NJ Llong      NaN

tail()

In [22]:
# tail(<number>) : fetches the specified number of rows from bottom.
#   --> by default it fetches 5 rows 
print(data.tail(1))

      id  season       city       date                team1  \
635  636    2016  Bangalore  5/29/2016  Sunrisers Hyderabad

                           team2          toss_winner toss_decision  result  \
635  Royal Challengers Bangalore  Sunrisers Hyderabad           bat  normal

     dl_applied               winner  win_by_runs  win_by_wickets  \
635           0  Sunrisers Hyderabad            8               0

    player_of_match                  venue          umpire1       umpire2  \
635     BCJ Cutting  M Chinnaswamy Stadium  HDPK Dharmasena  BNJ Oxenford

     umpire3
635      NaN

shape

In [23]:
'''
    shape :
    --> it's an attribute 
    --> mainly used to check how big the data is 
    --> return the numer of rows and columns in tuple format
    --> to fetch only rows : shape[0]
    --> to fetch only columns : shape[1]
'''
print("data shape : " , data.shape)
print("data total rows : " , data.shape[0])
print("data total columns: ", data.shape[1])

data shape :  (636, 18)
data total rows :  636
data total columns:  18

info()

In [24]:
# info() : gives preview of data 
# pandas considers strings as objects 
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.6+ KB
None

In [ ]:
'''
    --> info()  has given above :
        --> range index: total number of rows pandas automatically decides 
        --> non-null : data there is not empty
        --> pandas considers strings as objects
        --> dtypes :
            --> 1 value has float64 dtype
            --> 5 values have 5 int64 dtype
            --> 12 values have object dtype
        --> memory usage info is also given 
'''

describe()

In [25]:
# describe() : returns only rows which are entirely filled with numerical data
print(data.describe())

               id       season  dl_applied  win_by_runs  win_by_wickets  \
count  636.000000   636.000000  636.000000   636.000000      636.000000
mean   318.500000  2012.490566    0.025157    13.682390        3.372642
std    183.741666     2.773026    0.156726    23.908877        3.420338
min      1.000000  2008.000000    0.000000     0.000000        0.000000
25%    159.750000  2010.000000    0.000000     0.000000        0.000000
50%    318.500000  2012.000000    0.000000     0.000000        4.000000
75%    477.250000  2015.000000    0.000000    20.000000        7.000000
max    636.000000  2017.000000    1.000000   146.000000       10.000000

       umpire3
count      0.0
mean       NaN
std        NaN
min        NaN
25%        NaN
50%        NaN
75%        NaN
max        NaN

FETCHING COLUMNS

In [ ]:
# lec-4 
'''
    <data name>['<coloumn name> ] : fetches this column
        --> required to get info of specific columns 
        --> may be some coloumns in data may not be so important for analysis 
        --> this same thing holds true for rows also
        --> the result is series :
            --> index : by default it's autogrnerated , can be manually generated also
            --> values : this is the info of the fetched coloumn
'''

print(data['winner'])
print("\ntype of one coloumn: ", type(data['winner']))

FETCHING MULTIPLE COLUMNS

In [ ]:
# fetching more than one cloumn
print(data[ ['team1' , 'team2' , 'winner']])
print("\n shape: " , data[ [ 'team1' , 'team2' , 'winner']].shape)
print("\n datatype of multiple coloumns: ", type(data[ [ 'team1' , 'team2' , 'winner']]))

FETCHNG ROW

In [ ]:
# iloc[row number] : fetching specific rows
print(data.iloc[0])  #  fetches the first row

FETCHING MULTIPLE ROWS

In [ ]:
# to fetch multiple rows , give the rows in the form of list
print(data.iloc[ [0,1,2]])

SLICING IN iloc

In [ ]:
print(data.iloc[1:4])    # 4-1 =3rd coloumn will be included 
print("\n datatype of multiple rows : " , type(data.iloc[1:4]))

SLICING IN ALTERNATE MANNER

In [ ]:
print(data.iloc[1:10:3])

FETCHING COLOUMNS USING iloc[]

In [ ]:
'''
    <dataname variable>.iloc[ <row info> , <coloumn info> ]
'''
print( data.iloc[ : , [4,5,10]])     # if semicolon is used the all the rows will get printed

PRINTING SPECIFIC ROWS AND COLOUMNS

In [ ]:
print( data.iloc[ 1:3 , [1,3,5] ] )     # in the row : dont't use like []