In [1]:
#import numpy as np
import pandas as pd 
# import string 
data = pd.read_csv(r"C:\Users\RISHABH\Downloads\matches - matches.csv")
print(data)

      id  season       city       date                        team1  \
0      1    2017  Hyderabad   4/5/2017          Sunrisers Hyderabad
1      2    2017       Pune   4/6/2017               Mumbai Indians
2      3    2017     Rajkot   4/7/2017                Gujarat Lions
3      4    2017     Indore   4/8/2017       Rising Pune Supergiant
4      5    2017  Bangalore   4/8/2017  Royal Challengers Bangalore
..   ...     ...        ...        ...                          ...
631  632    2016     Raipur  5/22/2016             Delhi Daredevils
632  633    2016  Bangalore  5/24/2016                Gujarat Lions
633  634    2016      Delhi  5/25/2016          Sunrisers Hyderabad
634  635    2016      Delhi  5/27/2016                Gujarat Lions
635  636    2016  Bangalore  5/29/2016          Sunrisers Hyderabad

                           team2                  toss_winner toss_decision  \
0    Royal Challengers Bangalore  Royal Challengers Bangalore         field
1         Rising Pune Supergiant       Rising Pune Supergiant         field
2          Kolkata Knight Riders        Kolkata Knight Riders         field
3                Kings XI Punjab              Kings XI Punjab         field
4               Delhi Daredevils  Royal Challengers Bangalore           bat
..                           ...                          ...           ...
631  Royal Challengers Bangalore  Royal Challengers Bangalore         field
632  Royal Challengers Bangalore  Royal Challengers Bangalore         field
633        Kolkata Knight Riders        Kolkata Knight Riders         field
634          Sunrisers Hyderabad          Sunrisers Hyderabad         field
635  Royal Challengers Bangalore          Sunrisers Hyderabad           bat

     result  dl_applied                       winner  win_by_runs  \
0    normal           0          Sunrisers Hyderabad           35
1    normal           0       Rising Pune Supergiant            0
2    normal           0        Kolkata Knight Riders            0
3    normal           0              Kings XI Punjab            0
4    normal           0  Royal Challengers Bangalore           15
..      ...         ...                          ...          ...
631  normal           0  Royal Challengers Bangalore            0
632  normal           0  Royal Challengers Bangalore            0
633  normal           0          Sunrisers Hyderabad           22
634  normal           0          Sunrisers Hyderabad            0
635  normal           0          Sunrisers Hyderabad            8

     win_by_wickets player_of_match  \
0                 0    Yuvraj Singh
1                 7       SPD Smith
2                10         CA Lynn
3                 6      GJ Maxwell
4                 0       KM Jadhav
..              ...             ...
631               6         V Kohli
632               4  AB de Villiers
633               0    MC Henriques
634               4       DA Warner
635               0     BCJ Cutting

                                                venue          umpire1  \
0           Rajiv Gandhi International Stadium, Uppal      AY Dandekar
1             Maharashtra Cricket Association Stadium   A Nand Kishore
2              Saurashtra Cricket Association Stadium      Nitin Menon
3                              Holkar Cricket Stadium     AK Chaudhary
4                               M Chinnaswamy Stadium              NaN
..                                                ...              ...
631  Shaheed Veer Narayan Singh International Stadium   A Nand Kishore
632                             M Chinnaswamy Stadium     AK Chaudhary
633                                  Feroz Shah Kotla        M Erasmus
634                                  Feroz Shah Kotla        M Erasmus
635                             M Chinnaswamy Stadium  HDPK Dharmasena

             umpire2  umpire3
0           NJ Llong      NaN
1             S Ravi      NaN
2          CK Nandan      NaN
3      C Shamshuddin      NaN
4                NaN      NaN
..               ...      ...
631     BNJ Oxenford      NaN
632  HDPK Dharmasena      NaN
633    C Shamshuddin      NaN
634        CK Nandan      NaN
635     BNJ Oxenford      NaN

[636 rows x 18 columns]

Masking : Fetching some specific materials

In [ ]:
# eg: fetching data of city : Hyderabad
mask= data['city'].str.lower() == 'hyderabad'
'''
    --> All values in the mask are printing False because of case sensitivity in string comparison
    --> If the actual values in the 'city' column are 'Hyderabad' (with a capital 'H'), the comparison 
        will fail for all rows, resulting in all False .as_integer_ratio
    --> Convert both sides to lowercase for comparison .
'''
print(mask)  
print("\n datatype : boolean series " , type(mask))

In [ ]:
# doing masking now 
print ( data[mask])     # we are putting entire data on mask , this will fetch only True ones

Number of matches in Hyderabad

In [ ]:
print("total number of matches in hyderabad :", data[mask].shape[0])

making general () to count the particular city matches

In [ ]:
def city_match_count(city):
    mask2 = data['city'] == city    #don't  give str.lower()
    return data[mask2].shape[0]

city = input("Enter city name to get  it's count:")
print("\n number of matches : " , city_match_count(city))

matches in Hyderabad after 2010

In [ ]:
# so we have to create two sepaerate masks 
mask3 = data['city'] == 'Hyderabad'     # stores boolean values 
mask4 = data['date'] > '2010-01-01'     # stores boolean values
x= data[mask3 & mask4]      # bitwise & is used for boolean stuffs
print(x)
print("\n total matches after 2010 in hyderabad: " , x.shape[0])

Lec6: The value_counts() : gives frequency count in the coloumn.

--> only applicable on categorical data 

--> There are two main types of data: 

        --> Numerical data: refers to numbers.
            --> eg: id coloumn 

        --> categorical:   Categorical data is everything else. 
    
            --> Categorical data is non-numerical information that is divided into groups
            --> eg: date coloumn

In [ ]:
x= data['winner'].value_counts()
print(x)