merge function

fetch the orange cap holder :
man who has scored the highest in any particular IPL seasons

--> so in each season , best batsman is to be find out

In [ ]:
import pandas as pd 
match= pd.read_csv(r"C:\Users\RISHABH\Downloads\matches - matches.csv")  
# in this dataset batsman coloumn details are not given 
match.head()

In [ ]:
delivery = pd.read_csv(r"D:\delivery-matches\deliveries.csv")     
# in this dataset season coloumn is not there 
delivery.head()

so there is need to merge two dataframes.

criteria : there should be atleast one coloumn matching to both the datasets

in the first dataset set "id" coloumn is there.

in second dataset "match_id" coloumn is there

In [ ]:
combined = delivery.merge(match , left_on ='match_id' , right_on ='id')

'''
    --> left_on is for delivery dataset
    --> right_on is for match dataset
    --> only those match id's will be considered which are in both the datframes 
'''
combined

In [ ]:
print(match.shape)
print(delivery.shape)
print(combined.shape)

now we want season wise and batsman wise data , so use groupby on both

In [ ]:
x = combined.groupby( ['season' , 'batsman'])['batsman_runs'].sum()
print(x )       # type(x) = pandas series 
'''
    --> the rightmost coloumn is value
    --> the left two coloumns are indexes
    --> this type of series : multi index series
'''

converting this to dataframe : reset_index()

In [ ]:
y= x.sort_values(ascending= False).reset_index()
y

In [ ]:
z= y.groupby('season').first()
z

In [ ]:
z.reset_index()[[ 'season' , 'batsman']]